.center{
    text-align: center;
}
.inputDiv{
    display: flex;
    justify-content: space-between;
 
}
.table{
    border: 1px solid black;
    margin: 20px auto !important;
}

.table th, td{
    border: 1px solid black;
}

.activeBtn[aria-current] {
    background: skyblue;
   
  }

.contentWidth{
    width: 90%;
    margin: 0 auto;
}

.mr10{
    margin-right: 10px;
}